<h2>Add a New Specialty</h2>
<form class="form-control" action="/specialties" method="post">
  <label for="name">Type of specialty:</label>
  <input id="name" type="text" name="name">
  <button type="submit" name="button">Add Specialty</button>
</form>
